* {
    box-sizing: border-box;
}
h1 {
    color:#01DFD7;
}

h2 {
    font-size: 22px;
    color:#08088A;
    
}

p { 
    font-family: ariel, helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

img {
    border: 5p solid #cccccc;
    padding: 20px;
    width: 100%;
}